sftp-config.json
/.vscode
/.idea
.vscode
.idea
vendor/
**node_modules
package-lock.json
*/node_modules/*
/node_modules
.DS_Store
.phpdoc
reference
*.DS_Store
*.*.DS_Store
.windsurfrules
.claude/*
.ai
.claude
.claude/settings.local.json
