.tablenav {
    .awm-show-content {
        display: inline-block;
        position: relative;
        width: auto;
        .awm-meta-field {
            margin: 0px 5px;
            width: auto;
            display: inline-block;
            min-width: 150px;
            max-width: 12.5rem;
            font-size: 14px;
            line-height: 2;
            color: #2c3338;
            border-color: #8c8f94;
            box-shadow: none;
            border-radius: 3px;
            label {
                display: none !important;
            }
        }
    }
}