.awm-user-input {
    label,.awm-explanation {
        display: none;
    }
    input:not([type="checkbox"]),
    select,
    textarea {
        width: 25em;
    }
}

.awm-user-fields {
    padding: 20px;
border-bottom: solid 1px #111;

}